
.why-this-course {
    float: left;
            background-color: white;


            margin-left: 5px;
            margin-right: 5px;
            height: auto;


        }

        .col-md-3:hover {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            transform: translateY(-10px);
        }

        .col-3:hover {
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
            transform: translateY(-10px);
        }

        .container {
            float: left;
        }

        .preview {
            float: right;
        }



        .button4 {
            border-radius: 15px;
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);

        }

        .why-this-course-items {
            column-count: 3;
        }

        html {
            scroll-behavior: smooth;
        }

        .social-media {
            text-align: center;
            margin-bottom: 20px;
            font-size: 20px;
        }

        .fa-facebook:hover {
            transform: translateY(-5px);
        }

        .fa-instagram:hover {
            transform: translateY(-5px);
        }

        .fa-twitter:hover {
            transform: translateY(-5px);
        }

        .fa-youtube:hover {
            transform: translateY(-5px);
        }

        .fa-twitch:hover {
            transform: translateY(-5px);
        }

        /* Tooltip container */
        .fa-facebook {
            position: relative;
            display: inline-block;
            /* border-bottom: 1px dotted black; If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltiptext {
            visibility: hidden;
            /* background-color: green; */
            color: black;
            text-align: center;
            padding: 2px 0;
            border-radius: 6px;
            width: 120px;
            top: 100%;
            left: 50%;
            margin-left: -60px;
            font-size: 10px;
            margin-top: 10px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .fa-facebook:hover .tooltiptext {
            visibility: visible;
        }

        .fa-instagram:hover .tooltiptext {
            visibility: visible;
        }

        .fa-twitter:hover .tooltiptext {
            visibility: visible;
        }

        .fa-youtube:hover .tooltiptext {
            visibility: visible;
        }

        .fa-twitch:hover .tooltiptext {
            visibility: visible;
        }
    